
{% extends 'base/base.html' %}
{% block nameNavbar%}  {% endblock%}
{% block nameView%}  {% endblock%}

{% block content %}

    <div class="col-md-6" >

        <form  action="/registrarUsuario/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre" class="form-label">Ingrese Usuario</label>
                <input type="text" name = 'txtNombre' class="form-control" placeholder="Usuario">
            </div>
            <div class="mb-3">
                <label for="pasword">Ingrese Contraseña</label>
                <input type="password" name = 'txtPassword'class="form-control" id="password" placeholder="Contraseña">
            </div>
           
            <button type="submit" class="btn btn-dark">Guardar</button>  

        </form>

    </div>

{% endblock %}





